
<form method="post" action="/register">
    <div class="input-group mb-3">
        <span class="input-group-text">Username:</span>
        <input type="email" name="email" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Password:&nbsp;</span>
        <input type="password" name="password" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Screen Name:&nbsp;</span>
        <input type="text" name="screenName" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">First Name:&nbsp;</span>
        <input type="text" name="fname" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Middle Name:&nbsp;</span>
        <input type="text" name="fname" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Last Name:&nbsp;</span>
        <input type="text" name="mname" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">First Name:&nbsp;</span>
        <input type="text" name="lname" />
    </div>
    <div class="input-group mb-3" style="width: max-content;">
        <span class="input-group-text">Phone:&nbsp;</span>
        <input type="tel" name="phone" />
    </div>

    <button type="submit" class="btn btn-info" style="width:100%;">Login</button>
</form>
